@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
body {
  background-color: #f4f5f8;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar__menu {
  padding: 1em 2em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.navbar__menu:hover {
  background-color: #e4e7ee;
  border-radius: 3px;
}

.navbar__menu .nav-link {
  font-weight: 600;
  font-size: large;
}

.greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.greet__title {
  font-size: 4.5em;
  font-weight: 700;
  color: #1f51bc;
}

.greet__name {
  font-size: 2.5em;
  font-weight: 700;
  color: #07296f;
}

.greet__subtitle {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #04173f;
  opacity: 0.8;
}

.greet__btn {
  background-color: #1f51bc;
  color: #f4f5f8;
  padding: 0.5em 1em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: 700;
  border: #1f51bc 2px solid;
  margin: 30px 0;
}

.greet__btn:hover {
  background-color: #f4f5f8;
  color: #1f51bc;
  border-radius: 3px;
}

.greet__img {
  margin-right: -170px;
  width: 900px;
}

@media only screen and (max-width: 576px) {
  .greet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 1em 0;
  }
  .greet__title {
    font-size: 3.5em;
  }
  .greet__name {
    text-align: center;
    font-size: 1.5em;
  }
  .greet__subtitle {
    text-align: center;
    font-size: 1em;
  }
  .greet__img {
    margin-left: -100px;
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .greet {
    margin-top: 20px;
  }
  .greet__title {
    font-size: 1.5em;
  }
  .greet__name {
    font-size: 1.5em;
  }
  .greet__subtitle {
    font-size: 1em;
  }
  .greet__img {
    width: 450px;
    margin-right: -50px;
  }
}

@media screen and (max-width: 992px) {
  .greet {
    margin-top: 20px;
  }
  .greet__title {
    font-size: 3em;
  }
  .greet__name {
    font-size: 2em;
  }
  .greet__subtitle {
    font-size: 1.5em;
  }
  .greet__img {
    width: 700px;
    margin-right: -100px;
  }
}

@media screen and (max-width: 1200px) {
  .greet {
    margin-top: 20px;
  }
  .greet__title {
    font-size: 3em;
  }
  .greet__name {
    font-size: 2em;
  }
  .greet__subtitle {
    font-size: 1.5em;
  }
  .greet__img {
    width: 700px;
  }
}

.about-me {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-me__title {
  padding: 50px;
  text-align: center;
}

.about-me__title--primary {
  font-weight: 600;
  font-size: 40px;
}

.about-me__title--primary::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #1f51bc;
  margin: 10px auto;
}

.about-me__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me__content--img {
  width: 2000px;
}

.about-me__content--img lottie-player {
  margin-top: -50px;
}

.about-me__content--excerpt {
  padding: 50px;
}

.about-me__content--excerpt p {
  font-weight: 300;
  font-size: 28px;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .about-me__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-me__content--excerpt {
    padding: 50px;
  }
  .about-me__content--excerpt p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .about-me__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skills {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skills__title {
  padding: 50px;
  text-align: center;
}

.skills__title--primary {
  font-weight: 600;
  font-size: 40px;
}

.skills__title--primary::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #1f51bc;
  margin: 10px auto;
}

.skills img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in !important;
  transition: 0.3s ease-in !important;
}

.skills img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.2) !important;
          box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.2) !important;
  cursor: pointer;
}

.projects {
  margin-top: 100px;
  margin-bottom: 100px;
}

.projects__title {
  padding: 50px;
  text-align: center;
}

.projects__title--primary {
  font-weight: 600;
  font-size: 40px;
}

.projects__title--primary::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #1f51bc;
  margin: 10px auto;
}

.projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.projects__content .card {
  -webkit-transition: 0.3s ease-in !important;
  transition: 0.3s ease-in !important;
}

.projects__content .card:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.2) !important;
          box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.2) !important;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .projects__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .projects__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .projects__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__content--img img {
  width: 200px;
  border: #07296f 5px solid;
}

.contact__content--text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.contact__content--text h2 {
  font-size: 3em;
  font-weight: 700;
  color: #1f51bc;
}

.contact__content--text h6 {
  font-size: 1.2em;
  font-weight: 300;
  color: #07296f;
  opacity: 0.6;
}

.contact__content--text p {
  font-size: 1.2em;
  font-weight: 600;
}

.contact__content--text span {
  font-size: 1.2em;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .contact__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact__content--img img {
    width: 170px;
    border: #07296f 5px solid;
  }
  .contact__content--text {
    margin: 10px auto;
  }
}

@media screen and (max-width: 768px) {
  .contact__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact__content--img img {
    width: 170px;
    border: #07296f 5px solid;
  }
  .contact__content--text {
    margin: 10px auto;
  }
}

section .box {
  width: 300px;
  height: 500px;
  margin: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

section .box:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=custom.css.map */