@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

// @media only screen and (max-width: 500px){

$primary-color: #1f51bc;
$secondary-color: #07296f;
$tertiary-color: #80bc0d;
$quaternary-color: #f55233;
$quinary-color: #ded7f8;
$senary-color: #f4f5f8;

@mixin btn__primary {
  background-color: $primary-color;
  color: $senary-color;
  padding: 0.5em 1em;
  transition: 0.3s ease-in;
  font-weight: 700;
  border: $primary-color 2px solid;
  &:hover {
    background-color: $senary-color;
    color: $primary-color;
    border-radius: 3px;
  }
}

@mixin btn__secondary {
  background-color: $senary-color;
  color: $primary-color;
  padding: 0.5em 1em;
  transition: 0.3s ease-in;
  font-weight: 700;
  &:hover {
    background-color: $primary-color;
    color: $senary-color;
    border: $senary-color 2px solid;
    border-radius: 3px;
  }
}

@mixin title-menu {
  font-weight: 600;
  font-size: 40px;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: $primary-color;
    margin: 10px auto;
  }
}

@mixin excerpt {
  font-weight: 300;
  font-size: 28px;
  text-align: justify;
}

body {
  background-color: $senary-color;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar__menu {
  padding: 1em 2em;
  transition: 0.3s ease-in;
  &:hover {
    background-color: darken($senary-color, 5%);
    border-radius: 3px;
  }

  .nav-link {
    font-weight: 600;
    font-size: large;
  }
}

.greet {
  display: flex;
  justify-content: space-evenly;
  &__title {
    font-size: 4.5em;
    font-weight: 700;
    color: $primary-color;
  }
  &__name {
    font-size: 2.5em;
    font-weight: 700;
    color: $secondary-color;
  }
  &__subtitle {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    color: darken($secondary-color, 10%);
    opacity: 0.8;
  }
  &__btn {
    @include btn__primary;
    margin: 30px 0;
  }
  &__img {
    margin-right: -170px;
    width: 900px;
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em 0;
    &__title {
      font-size: 3.5em;
    }
    &__name {
      text-align: center;
      font-size: 1.5em;
    }
    &__subtitle {
      text-align: center;
      font-size: 1em;
    }
    &__img {
      margin-left: -100px;
      width: 700px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    &__title {
      font-size: 1.5em;
    }
    &__name {
      font-size: 1.5em;
    }
    &__subtitle {
      font-size: 1em;
    }
    &__img {
      width: 450px;
      margin-right: -50px;
    }
  }

  @media screen and (max-width: 992px) {
    margin-top: 20px;
    &__title {
      font-size: 3em;
    }
    &__name {
      font-size: 2em;
    }
    &__subtitle {
      font-size: 1.5em;
    }
    &__img {
      width: 700px;
      margin-right: -100px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 20px;
    &__title {
      font-size: 3em;
    }
    &__name {
      font-size: 2em;
    }
    &__subtitle {
      font-size: 1.5em;
    }
    &__img {
      width: 700px;
    }
  }
}

.about-me {
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    padding: 50px;
    text-align: center;
    &--primary {
      @include title-menu;
    }
  }

  &__content {
    display: flex;

    &--img {
      width: 2000px;
      lottie-player {
        margin-top: -50px;
      }
    }

    &--excerpt {
      padding: 50px;
      p {
        @include excerpt();
      }
    }

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;

      &--excerpt {
        padding: 50px;
        p {
          font-size: 20px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
}

.skills {
  margin-top: 100px;
  margin-bottom: 100px;
  &__title {
    padding: 50px;
    text-align: center;
    &--primary {
      @include title-menu;
    }
  }

  img:hover {
    cursor: pointer;
    background-color: $quinary-color;
  }
}

.projects {
  margin-top: 100px;
  margin-bottom: 100px;

  &__title {
    padding: 50px;
    text-align: center;
    &--primary {
      @include title-menu;
    }
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;

  &__content {
    display: flex;
    justify-content: center;

    &--img {
      img {
        width: 200px;
        border: $secondary-color 5px solid;
      }
    }

    &--text {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;

      h2 {
        font-size: 3em;
        font-weight: 700;
        color: $primary-color;
      }

      h6 {
        font-size: 1.2em;
        font-weight: 300;
        color: $secondary-color;
        opacity: 0.6;
      }

      p {
        font-size: 1.2em;
        font-weight: 600;
      }

      span {
        font-size: 1.2em;
        font-weight: 600;
      }
    }

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;

      &--img {
        img {
          width: 170px;
          border: $secondary-color 5px solid;
        }
      }

      &--text {
        margin: 10px auto;
      }
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;

      &--img {
        img {
          width: 170px;
          border: $secondary-color 5px solid;
        }
      }

      &--text {
        margin: 10px auto;
      }
    }
  }
}
